<!DOCTYPE html>
<html>
  <head>
    <title>FamLeaderboard</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta property="og:title" content="Our Family Game Leaderboard!!" />
    <meta property="og:image" content='<%= image_url "daddyandus.jpg" %>' />
    <meta name="description" content="<%= @display_scores %>" />
    <meta property="og:description" content="<%= @display_scores %>" />

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
